<!-- HTML Template -->
<a href="#/admin/new" class="btn btn-primary">Add CSS</a>
<!-- Table for listing styles -->
<hr />
<table class="table striped">
  <thead>
    <tr>
      <th>Element Tye</th><th>Class</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% _.each(stylesData, function(data) { %>
      <tr>
        <td><%= htmlEncode(data.input_type) %></td>
        <td><%= htmlEncode(data.class) %></td>
        <td><a class="btn" href="#/admin/edit/<%= data._id %>">Edit</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>
