<!-- HTML Template -->
<button class="btn btn-primary new">Add CSS</button>
<!-- Table for listing styles -->
<hr />
<table class="table striped">
  <thead>
    <tr>
      <th>Element Type</th><th>Class</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% _.each(stylesData, function(data) { %>
      <tr>
        <!-- <td><%= htmlEncode(data.input_type) %></td> -->
        <td><%= htmlEncode(data.element_type) %></td>
        <td><%= htmlEncode(data.class) %></td>
        <td><%= htmlEncode(data.added_by) %></td>
        <td><button id="<%= htmlEncode(data._id) %>" class="btn edit">Edit</button></td>
        <td>
                <input type="hidden" name="id" value=<%= htmlEncode(data._id) %> />
                <button type="button delete" data-style-id=<%= htmlEncode(data._id)%> class="btn btn-danger delete">Delete</button>
        </td>
                
      </tr>
    <% }); %>
  </tbody>
</table>
