<!-- Define the form to create a list -->
<form class="edit-styles-form">
    <h3><%= sData ? 'Edit' : 'New' %> Style</h3>
    <fieldset>
        <label>Element Type</label>
        <select name='element_type' id='elementList'>
          <option value="default-value">Select Elements</option>
          <option <%= htmlEncode(sData.element_type) == 'button' ? 'selected' : '' %> value="button">Buttons</option>
          <option <%= htmlEncode(sData.element_type) == 'dropdown' ? 'selected' : '' %> value="dropdown">Dropdowns</option>
          <option <%= htmlEncode(sData.element_type) == 'radio-button' ? 'selected' : '' %> value="radio-button">Radio-buttons</option>
        </select> 

        <input type='text' name="class" value='<%= sData ? htmlEncode(sData.class) : '' %>' placeholder='Class Name'/>
        <!-- <input name="input_type" type="text" value=<%= sData ? htmlEncode(sData.input_type) : '' %>> -->
    </fieldset>

    <fieldset>
        <div id="element_html" style='border:1px solid #ccc; width:99%; height:100px;'  placeholder='Select element from dropdown'></div>
    </fieldset>

    <fieldset>
        <table style='width:100%'>
            <tr>
                <td>
                     <label>Class CSS</label>
                    <textarea id="class_css" style='width:96%' name="class_css" rows="5" cols="17"><%= sData ? htmlEncode(sData.class_css) : '' %></textarea>
                </td>
                <td>
                    <label>Class Hover</label>
                    <textarea id="class_hover" style='width:96%' name="class_hover" rows="5" cols="17"><%= sData ? htmlEncode(sData.class_hover) : '' %></textarea>
               </td>
                <td>                
                    <label>Class Active</label>
                    <textarea id="class_active" style='width:96%' name="class_active" rows="5" cols="17"><%= sData ? htmlEncode(sData.class_active) : '' %></textarea>
               </td>
                <td>                
                    <label>Class Disabled</label>
                    <textarea id="class_disabled" style='width:96%' name="class_disabled" rows="5" cols="17"><%= sData ? htmlEncode(sData.class_disabled) : '' %></textarea>
                
                </td>
            </tr>
        </table>    
       
    </fieldset>

    <fieldset>
<!--         <label>Input HTML</label>
        <textarea name="element_html" rows="5" cols="10"><%= sData ? htmlEncode(sData.element_html) : '' %></textarea> -->
    </fieldset>
    
    <button type="submit" class="btn btn-success"><%= sData ? 'Update' : 'Create' %></button>
    <% if(sData) { %>
        <input type="hidden" name="id" value=<%= htmlEncode(sData._id) %> />
        <!-- <button type="button" data-style-id=<%= htmlEncode(sData._id) %> class="btn btn-danger delete">Delete</button> -->
   <% }; %>
</form>